<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h3>Home
        <small>CS 115</small>
    </h3>

    <td><a href="/home">Home</a></td>
    <td><a href="/queue">Queue</a></td>
    <td><a href="/contact">Contact</a></td>

</div>

</body>
</html>